/* Style for GL-System and Inversenberechnung */

/* Button styling and special buttons */
.button-gl-inv {
    width: 10em;
    padding: 0;
}

.button-down {
    background-image: url("../images/icon_arrow_down.png");
    background-repeat: no-repeat;
    background-size: 3em 3em;
    vertical-align: middle;
    padding-left: 1.5em;
}

.button-up {
    background-image: url("../images/icon_arrow_up.png");
    background-repeat: no-repeat;
    background-size: 3em 3em;
    vertical-align: middle;
    padding-left: 1.5em;
}

.button-solve {
    background-image: url("../images/icon_magic_wand.png");
    background-repeat: no-repeat;
    background-size: 3em 3em;
    vertical-align: middle;
    padding-left: 1.5em;
}

.button-generate-exercise {
    background-image: url("../images/icon_generate_exercise.png");
    background-repeat: no-repeat;
    background-size: 3em 3em;
    vertical-align: middle;
    padding-left: 2.5em;
    width: 8em;
}

.button-combobox {
    height: 28px;
    width: 28px;
    margin: 0.08em 0;
    padding: 0;
}

/* Style comboboxes */
.combobox-dropdown,
.combobox-input-field {
    margin: 0.05em 0.25em;
    height: 28px;
    width: 40px;
    background-color: #fff;
    border: 1px solid var(--input-border-color-dark);
}

/* Formatting */
.operations {
    /* fixed space for row operations */
    width: 20em;
    vertical-align: bottom;
    text-align: left;
}

.vertical {
    /* vertical line */
    background-image: url('../images/vertical.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 0.33em;
    height: 100%;
    padding: 0;
}