/* Style for start page */

.header-start {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: var(--header-color);
    box-shadow: 0px -24px 20px 26px var(--shadow-color);
    z-index: -1;
}

.logo-img {
    float: right;
    margin: 3%;
    margin-top: max(2em, 3%);
    width: 35%;
    height: auto;
    position: relative;
    z-index: 99;
    transition: transform 0.3s;

}

.logo-img:hover {
    transform: scale(1.05);
}

.page-links {
    list-style-type: none;
    padding: 0;
}

.page-link-element {
    font-size: 14pt;
    padding: 0.25em 1em;
    height: 2.25em;
    margin: 0.75em 0;
    width: 12.5em;
    display: block;
    text-align: left;
}

.page-link-element:before {
    content: "❱";
    padding-right: 0.5em;
    text-align: right;
}

.start-divider {
    width: 40%;
    min-width: 17.5em;
    height: max(75vh, 35em);
    position: relative;
    top: 50%;
    margin-left: 3em;
    padding: 2em;
    z-index: 1;
    overflow: auto;
}

.start-text {
    font-size: 14pt;
    padding-top: 1em;
}