/* Base */

:root {
    --primary-color: #3e95ad;
    --primary-color-dark: #3a8ba1;
    --background-color: #ECEDF0;
    --header-color: #35363A;
    --input-background-color-light: #ECEDF0;
    --input-background-color-dark: #D1D2D3;
    --old-color: rgb(0, 133, 252);
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    background-color: var(--background-color);
    position: relative;
    margin: 0;
    min-height: 100%;
    box-sizing: inherit;
}

header {
    left: 0;
    top: 5.5em;
    position: relative;
    padding-left: 2em;
    margin-bottom: 2em;
    z-index: 1;
}

main {
    padding: 3.5em 2em 1em 2em;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em 2em;
}

h1 {
    font-size: 26pt;
    font-weight: 750;
    border-left: 6px solid var(--primary-color);
    padding-left: 10px;
    display: inline-block;
}

h2 {
    margin: 0.2em 0;
    display: inline-block;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

td {
    text-align: center;
}

input {
    background-color: var(--input-background-color-light);
    border: None;
    border-radius: 3.5px;
    height: min(1.75em, 3.5vmin);
    width: min(2.5em, 5vmin);
    min-width: 2em;
    min-height: 1.25em;
    margin: 0;
    padding: 0;
    text-align: center;
}

input[type="number"] {
    border: 1px solid rgb(154, 157, 160);
    width: 3em;
    height: 1.75em;
    margin: 0.25em 1.75em 0.25em 0.25em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
    width: 14px;
    height: 30px;
}

input:disabled {
    background-color: var(--input-background-color-dark);
}

select {
    border: 1px solid rgb(154, 157, 160);
    border-radius: 3.5px;
    height: 2em;
    width: 2.5em;
    padding: 0;
    text-align: center;
}

.page-divider {
    background: #fff;
    box-shadow: 0 4px 8px rgba(19, 41, 104, 0.1);
    border-radius: 8px;
    margin-bottom: 1em;
    padding: 1em;
    overflow: hidden;
    object-fit: contain;
    object-position: center;
}

/* Navigation bar */

.nav {
    position: fixed;
    /* box-sizing: border-box; */
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    background-color: var(--header-color);
    box-shadow: 0px -24px 20px 26px rgba(19, 41, 104, 0.4);
    font-size: 16pt;
    padding: 0.5em 0;
    z-index: 3;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    width: 100%;
}

.nav-element {
    display: inline;
    padding-inline-end: 5%;
}

.nav-link {
    color: rgb(154, 157, 160);
}

.nav-link.active {
    color: rgb(255, 255, 255);
}

.nav-logo {
    width: 2.5em;
    height: 2.5em;
    margin: 0 2em 0 2em;
    float: left;
}


/* Layout */

.align-center {
    align-items: center;
    justify-content: center;
    display: flex;
}

.impressum-text {
    float: right;
    padding-top: 1em;
}

/* Theme */

button {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 75px;
    margin: 10px;
}

button:hover {
    cursor: pointer;
    background-color: var(--primary-color-dark);
}

button:active {
    transform: translateY(1px);
}

.button-matrixsize {
    width: 1.25em;
    height: 1.25em;
    margin: 0;
    padding: 0;

}

.button-addrow,
.button-removerow {
    display: block;
    margin-bottom: 0.05em;
}

.button-addcol,
.button-removecol {
    margin-right: 0.05em;
}

.vertical-align-sizebuttons {
    vertical-align: top;
    padding-top: 0.5em;
}

.horizontal-align-sizebuttons {
    text-align: left;
    padding-left: 0.3em;
}

.main-text {
    padding-top: 0.5%;
    padding-left: 0.5%;
    font-size: x-large;
    line-height: 1.5;
    margin-bottom: 15%;
}

.container-button {
    margin-bottom: 1em;
    align-items: center;
    justify-content: center;
    display: flex;
}

.table-button {
    height: 20px;
    width: 40px;
    margin: 5px;
}

.vertical {
    border-left: 2px solid rgb(154, 157, 160);
    border-radius: 1px;
}

button.secondary {
    background-color: #6C757D;
}

button.secondary:hover {
    background-color: #5A6268;
}

button.secondary:active {
    background-color: #5A6268;
    transform: translateY(1px);
}

.button-combobox {
    height: 2em;
    width: 2em;
    margin: 0;
    padding: 0;
}

.button-help {
    float: right;
    margin-right: 2em;
    margin-top: 2em;
    background-color: #fefefe;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.button-help:hover {
    background-color: #fefefe;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.button-help:active {
    background-color: #fefefe;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transform: translateY(1px);
}

.button-clear {
    background-image: url("../images/icon_clear.png");
    background-repeat: no-repeat;
    background-size: 3em 3em;
    vertical-align: middle;
    padding-left: 3em;
    width: 7em;
}

.result {
    left: 0;
    float: left;
}

.wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: center;
    width: 100%;
}

.left {
    min-width: 50%;
}

.invalid {
    background-color: lightcoral;
}

.switch {
    position: relative;
    margin: 1em;
    width: 60px;
    height: 34px;
    float: right;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;

}
 
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--input-background-color-dark);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: var(--primary-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:not(checked)+.slider {
    background-image: url("../images/icon_toggle.png");
    background-repeat: no-repeat;
    background-size: 4em 2em;
    vertical-align: middle;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Hilfe-Modal */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 99;
    padding-top: 7.5em;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(19, 41, 104, 0.1);
    height: 66%;
    border-radius: 8px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: max(50%, 25em);
}

.subheading-help {
    margin: 0;
    padding: 0;
    font-size: 13pt;
    color: #666;
    font-weight: lighter;
}

.help-content {
    overflow: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 12pt;
    padding: 0.5em;
    margin-top: 2em;
    height: 66%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}